.app-header {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,4,46,1) 0%, rgba(0,212,255,1) 100%);
color: white;
padding-top: 60px;
padding-bottom: 60px;
margin-bottom:30px;
}